/*------------------------------------*\
  #ALL
\*------------------------------------*/
* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
h1, h2, h3, h4, h5, h6, p, a {
	font-family: "Arial", sans-serif;
}
/*------------------------------------*\
  #TOP-NAVBAR
\*------------------------------------*/
@media screen and (max-width: 912px) {
	.desktop {
        display: none !important;
    }
}
@media screen and (min-width: 913px) {
	.left_nav {
		width: 58%;
	}
	.right_nav {
		width: 40%;
	}
}
nav {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99;
}
.left_nav {
	margin-left: 2%;
	float: left;
}
.left_nav a {
	margin-left: 5px;
}
.left_nav a,
.right_nav .resume {
	font-size: 18px;
	color: white;
	text-decoration: none;
	padding: 5px 15px;
	line-height: 50px;
}
.right_nav {
	float: right;
	text-align: right;
}
.right_nav i {
	font-size: 40px;
	color: white;
	float: right;
	padding: 1px 15px;
	line-height: 50px;
}
/*------------------------------------*\
  #HOME
\*------------------------------------*/
@media screen and (min-width: 769px) {
	.home {
		background-attachment: fixed;
	}
}
.home {
	height: 100%;
	background-size: cover;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url("../images/backgrounds/home.jpg"); /*source: https://wall.alphacoders.com/big.php?i=391299 */
}
.home h1 {
	text-align: center;
	padding-top: 160px;
	font-size: 65px;
	color: white;
	text-shadow: 2px 2px black;
}
.spacer {
	height: 1%;
	background-color: whitesmoke;
}
/*------------------------------------*\
  #SECTION
\*------------------------------------*/
@media screen and (min-width: 769px) {
	.section_header {
		background-attachment: fixed;
	}
}
.section_header {
	height: 120px;
	background-size: cover;
}
.about.section_header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url("../images/backgrounds/about.jpg"); /*source: https://www.needpix.com/photo/934820/bc-beautiful-bridge-british-columbia-buildings-burrard-burrard-inlet-can-canada */
}
.experience.section_header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url("../images/backgrounds/experience.jpg"); /*source: https://www.flickr.com/photos/time-to-look/47483033702 */
}
.projects.section_header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url("../images/backgrounds/projects.jpg"); /*source: https://photovancouver.com/photos/reflections-in-coal-harbour */
}
.extracurriculars.section_header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url("../images/backgrounds/extracurriculars.jpeg"); /*source: https://www.pexels.com/photo/buildings-near-body-of-water-at-night-1519088/ */
}
.skills.section_header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url("../images/backgrounds/skills.jpg"); /*source: https://www.dreamstime.com/editorial-photo-science-world-vancouver-canada-bc-olympic-place-illuminated-night-image55486761 */
}
.section_header h2 {
	padding-top: 60px;
	margin-left: 20px;
	font-size: 40px;
	color: white;
	text-shadow: 2px 2px black;
}
.section_body {
	overflow: auto;
	background-color: whitesmoke;
}
.section_body h3, h3 a {
	font-size: 40px;
	color: black;
	font-style: bold;
	text-decoration: none;
}
.section_body h4 {
	font-size: 30px;
	color: black;
	font-weight: normal;
	font-style: italic;
}
.section_body p {
	font-size: 30px;
	color: black;
}
/*------------------------------------*\
  #SUBSECTION
\*------------------------------------*/
@media screen and (max-width: 768px) {
	.left_subsection,
	.right_subsection {
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media screen and (min-width: 769px) {
	.left_subsection {
		float: left;
		padding-left: 2%;
		padding-right: 1%;
	}
	.right_subsection {
		float: right;
		padding-top: 20px;
		padding-left: 1%;
		padding-right: 2%;
	}
}
.subsection {
	overflow: auto;
}
.left_subsection {
	padding-top: 20px;
	padding-bottom: 20px;
}
.right_subsection {
	padding-bottom: 20px;
}
/*------------------------------------*\
  #ABOUT-SECTION
\*------------------------------------*/
@media screen and (min-width: 769px) {
	.about .left_subsection,
	.about .right_subsection {
		width: 47%;
	}
}
.about .profile {
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
}
/*------------------------------------*\
  #EXPERIENCE/PROJECTS-SECTION
\*------------------------------------*/
/* @media screen and (max-width: 768px) { */
	/* .date span::before { */
		/* content: "\A";  */
		/* white-space: pre;  */
	/* } */
/* } */
@media screen and (max-width: 1224px) {
	.experience .left_subsection,
	.experience .right_subsection {
		padding-left: 20px;
		padding-right: 20px;
	}
	.experience .right_subsection {
		float: left;
		width: -webkit-calc(100% - 40px);
		width:    -moz-calc(100% - 40px);
		width:         calc(100% - 40px);
		max-height: 360px;
		overflow: hidden;
	}
	.date {
		clear: both;
		padding: 0px 20px 20px 20px;
	}
	.date p {
		font-size: 24px;
	}
}
@media screen and (min-width: 1225px) {
	.experience .left_subsection {
		width: 56%;
	}
	.experience .right_subsection {
		width: 38%;
	}
	.date {
		float: right;
		padding-top: 20px;
		padding-right: 2%;
	}
}
.experience .logo {
	vertical-align: top;
	width: 60px;
	height: 60px;
}
.experience .h_iframe {
	position: relative;
    padding-top: 56.25%;
}
.experience .sample_img,
.experience iframe {
	width: 100%;
    height: 100%;
	max-width: 640px;
	max-height: 360px;
}
.experience iframe {
	position: absolute;
    top: 0;
    left: 0;
    border: 0;
}
/*------------------------------------*\
  #SKILLS-SECTION
\*------------------------------------*/
@media screen and (max-width: 768px) {
	.skills .subsection{
		padding: 20px 20px;
	}
	.skills .left_subsection {
		padding-bottom: 0px;
	}
}
@media screen and (min-width: 769px) {
	.skills .subsection{
		padding: 20px 2%;
	}
	.skills .left_subsection,
	.skills .right_subsection {
		width: 47%;
	}
}
.skills .icons {
	padding: 20px 0px 10px 0px;
    text-align: center;
}
.skills .icon {
    margin: 0px 10px 10px 10px;
    display: inline-block;
}
.skills .logo {
    width: 110px;
	height: 110px;
}
.skills ul {
	padding-left: 20px;
}