/*TODO: ADD SHADOWS TO WHITE TEXT*/
*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
}

h1, h2, h3, h4, h5, h6, p{
	margin-bottom: 20px;
	margin-left: 40px;
	margin-right: 40px;
	font-family: "Open Sans", sans-serif;
}

h1{
	text-shadow: 2px 2px black;
	color: white;
	font-size: 65px;
	text-align: center;
	line-height: 450px;
}

h2{
	text-shadow: 2px 2px black;
	color: white;
	font-size: 40px;
	line-height: 160px;
}

h6{
	color: black;
	font-size: 40px;
	font-style: bold;
	vertical-align: top;
}

p{
	color: black;
	font-size: 30px;
	vertical-align: top;
}


nav{
	position: fixed;
	height: 50px;
	width: 100%;
	background-color: rgba(0,0,0,.5);
	z-index: 99;
}

nav a{
	text-align: left;
	color: white;
	text-decoration: none;
	padding: 5px 15px;
	font-family: "Verdana", sans-serif;
	font-size: 15px;
	margin-left: 10px;
	line-height: 50px;
}

nav i{
	float: right;
	color: white;
	text-decoration: none;
	padding: 20px 15px;
	margin-right: 10px;
	line-height: 50px;
}

.sect{
	height: 20%;
	background-size: cover;
	background-attachment: fixed;
}
.head{
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-image: url("images/background.jpg"); /*sourced from: https://images7.alphacoders.com/391/391299.jpg*/
}
.spacer{
	height: 1%;
	background-color: white;
}	
.sect_about_me{
	background-image: url("images/about_me-back.jpg"); /*sourced from: https://farm5.static.flickr.com/4100/4851998113_8b018b511a_b.jpg*/
}
.sect_projects{
	background-image: url("images/projects-back.jpg"); /*sourced from: http://yesofcorsa.com/wp-content/uploads/2017/05/Vancouver-Wallpaper-Download.jpg*/
}
.sect_skills{
	background-image: url("images/skills-back.jpg"); /*sourced from: https://www.chicdarling.com/wp-content/uploads/2015/12/bigstock-Science-World-In-Vancouver-Ca-93393425.jpg*/
}

/* About me */
.sub_sect{
	height: 80%;
}
.intro img{
	margin-top: 30px;
	margin-left: 40px;
}
.intro p{
	margin-top: 20px;
}

/* Projects */
.s_projects{
	height: 350%;
	background-color: white;
	margin-top: 40px;
}
.s_projects img{
	margin-left: 40px;
}
.s_projects iframe{
	margin-left: 40px;
}
.s_projects p{
	margin-top: 5px;
	
}

/* Skills */
.s_skills{
	height: 50%;
	background-color: white;
	margin-top: 40px;
}
